.img-1{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 500px;
   
}
.x9{
    background-color: transparent;
}

.x99{
 background-color:rgb(0, 255, 255) !important;
 border: none;
}
.font{
 font-size: 50px !important;
}

.ff-img{
    width: 80px;
    background-color: aqua;
    border-radius: 50%;
}